@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source sans pro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fraunces";
  src: url("../fonts/Fraunces_9pt-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.list-custom-bullet {
  list-style-type: none;
  padding-left: 1.5em;
  background-image: url("assets/moboclinic/moboclinic-check_mark.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 0.7em;
}
